@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #8aa29e;
}

.container {
    width: 450px;
    background-color: #e3f2fd;
    border-radius: 10px;
    box-shadow:  0 10px 50px #686963 ;
}


.container h2 {
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid #fafafa;
}


.capa{
    margin: 1.25rem 1.75rem;
}

/* AREA DE COPIADO Y MUESTRA DE CONTRASEÑA */

.capa .input_box {
    position: relative;
}

.input_box input{
    width: 100%;
    height: 53px;
    color: #686963;
    background-color: white;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.5px;
    border: 1px solid #61e786;
    padding: 0 2.85rem 0 1rem;
}

.input_box span{
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 55px;
    color:#686963;
}

.input_box span:hover{
    color: #61e786  !important;
}

.capa .pass_indicador{
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;
}

/* AREA LARGO DE PASSWOR */

.pass_indicador::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
}

.pass_indicador#weak::before{
    width: 20%;
    background-color: red;
}

.pass_indicador#medium::before{
    width: 50%;
    background-color: yellow;
}

.pass_indicador#strong::before{
    width: 100%;
    background-color: green;
}

.capa .largo {
    margin: 1.56rem 0 1.25rem;
}

.largo .detalles{
    display: flex;
    justify-content: space-between;
}

.largo input{
    width: 100%;
    height: 5px;
}

.configuracion .opciones{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.configuracion .opcion{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100%/2);
} 

.opciones .opcion:first-child{
    pointer-events: none;
}

.opciones .opcion:first-child input{
    opacity: 0.7;
}

.opciones .opcion input {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.opciones .opcion label{
    cursor: pointer;
    color: black;
    padding-left: 0.63rem;
}

.capa .generador_btn{
    width: 100%;
    color: white;
    background-color: #03254e;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.05rem;
    padding: 0.9rem 0;
    border-radius: 15px;
    margin: 1rem 0 1.3rem;
    text-transform: uppercase;
}

